[data-theme='dark'] {
  --bg-color: hsl(230, 17%, 14%);
  --heading-color: hsl(232, 19%, 15%);
  --card-bg-color: hsl(228, 28%, 20%);
  --small-text: hsl(228, 34%, 66%);
  --h2: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --hover: hsl(228, 28%, 24%);
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

[data-theme='light'] {
  --bg-color: hsl(0, 0%, 100%);
  --heading-color: hsl(225, 100%, 98%);
  --card-bg-color: hsl(227, 47%, 96%);
  --small-text: hsl(228, 12%, 44%);
  --h2: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --hover: hsl(227, 47%, 92%);
  --toggle: linear-gradient(to right, hsl(230, 22%, 74%), hsl(230, 22%, 74%));
}

:root {
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
  --percentage-up: hsl(163, 72%, 41%);
  --percentage-down: hsl(356, 69%, 56%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text);
  -webkit-tap-highlight-color:transparent;

  @media only screen and (max-width: 35em) {
    height: 100vh;
  }
}

.header {
  width: 100%;
  height: 25rem;
  background-color: var(--heading-color);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: 700;
  padding: 0 2rem;

  @media only screen and (max-width: 35em) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__box {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 4rem;
    -webkit-tap-highlight-color:transparent;


    @media only screen and (max-width: 35em) {
      flex-direction: column;
    }
  }

  &__container {
    color: var(--text);
  }

  &__heading {
    margin-bottom: 1rem;

    @media only screen and (max-width: 25em) {
      font-size: 2rem;
    }
  }

  &__sub {
    color: var(--small-text);
  }

  &__theme {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    color: var(--small-text);
    -webkit-tap-highlight-color:transparent;


    @media only screen and (max-width: 35em) {
      width: 100%;
      justify-content: space-between;
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: 2px solid var(--small-text);
    }

    &--button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &--flip {
      width: 4rem;
      height: 2.2rem;
      background-image: var(--toggle);
      margin-left: 1rem;
      border-radius: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 2px;
      -webkit-tap-highlight-color:transparent;

    }

    &--pin {
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      background-color: var(--heading-color);
    }
  }
}

.main {
  max-width: 100rem;
  margin: 0 auto;
  transform: translateY(-10rem);
  padding: 0 2rem;

  &__head,
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 2rem;
    row-gap: 1.5rem;
    -webkit-tap-highlight-color:transparent;

  }

  &__head {
    grid-auto-rows: 20rem;
    margin-bottom: 4rem;
  }

  &__body {
    grid-auto-rows: 12rem;
  }
}

.head__item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;


  &:hover {
    background-color: var(--hover);
  }

  &--top {
    &1,
    &2,
    &3,
    &4 {
      width: 100%;
      height: 0.5rem;
    }

    &1 {
      background-color: var(--facebook);
    }
    &2 {
      background-color: var(--twitter);
    }
    &3 {
      background-image: var(--instagram);
    }
    &4 {
      background-color: var(--youTube);
    }
  }

  &--image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--small-text);
    font-weight: 700;
    -webkit-tap-highlight-color:transparent;


    & img {
      width: 1.8rem;
      padding-right: 1rem;
    }
  }

  &--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color:transparent;

  }

  &--heading {
    font-weight: 700;
    font-size: 5rem;
  }

  &--text {
    color: var(--small-text);
    letter-spacing: 0.5rem;
  }

  &--status {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    -webkit-tap-highlight-color:transparent;


    & img {
      margin-right: 1rem;
    }
  }
}

.load {
  &-up {
    color: var(--percentage-up);
    font-size: 1.3rem;
    font-weight: 700;
  }
  &-down {
    color: var(--percentage-down);
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.heading2 {
  color: var(--h2);
  font-weight: 700;
  margin-bottom: 1rem;
}

.body__item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  -webkit-tap-highlight-color:transparent;


  &:hover {
    background-color: var(--hover);
  }

  &--top,
  &--bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color:transparent;

  }

  &--top {
    font-size: 1.2rem;
    color: var(--small-text);
  }

  &--bottom {
    & h2 {
      font-size: 3rem;
    }
  }

  &--status {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color:transparent;

    align-self: flex-end;
    & img {
      margin-right: 0.5rem;
    }
  }
}
